@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  width: 100vw;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
  text-align: start;
  padding-bottom: 30px;
}

.favorites-bar{
  /* height: 40vh; */
  width: 100vw;
  background: peachpuff;
  font-family: 'Shadows Into Light', cursive;
  /* text-align: center; */
  font-size: 1em;
  display: flex;
  flex-direction: column;
  
}

Goals{
  display: flex;
}


.edit-goal-bar{
  width: 35vw;
  margin-left: 32.5vw;
}