.pic-goal-form-parent{
    /* background: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.pic-goal-form{
    /* background: purple; */
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input{
    display: flex;
    flex-wrap: wrap;
}

.goals-list{
    /* display: flex;  */
    width: 200px;

}

.goals-list li{
    flex-direction: column;
    flex-wrap: wrap;
}